<div class="min-h-screen bg-gray-100 dark:bg-gray-800">
  <!-- Navbar -->
  <nav class="bg-white dark:bg-gray-900 shadow">
    <div class="container mx-auto px-6 py-4">
      <div class="flex justify-between items-center">
        <div class="text-4xl font-semibold text-gray-700 dark:text-white">Angular NGRX STORE</div>
        <div>
          <button class="text-gray-600 dark:text-gray-300 hover:underline">Home <span>{{count$ | async}}</span></button>

          <!-- Add more navigation items here -->
        </div>
      </div>
    </div>
  </nav>

  <app-counter />

  <!-- Footer -->
  <footer class="bg-white absolute w-full bottom-0 dark:bg-gray-900">
    <div class="container mx-auto px-6 py-4">
      <p class="text-gray-700 dark:text-white text-center">
        © 2023 Angular Material Tailwind Boilerplate
      </p>
    </div>
  </footer>
</div>
