<div class="min-h-screen bg-gray-100 dark:bg-gray-800">
  <!-- Navbar -->
  <nav class="bg-white dark:bg-gray-900 shadow">
    <div class="container mx-auto px-6 py-4">
      <div class="flex justify-between items-center">
        <div class="text-4xl font-semibold text-gray-700 dark:text-white">Angular NGRX STORE</div>
        <div>
          <button routerLink="/cart" class="text-gray-600 dark:text-gray-300 hover:underline">Cart <span>{{(products$ | async)?.length}}</span></button>

          <!-- Add more navigation items here -->
        </div>
      </div>
    </div>
  </nav>

<router-outlet />
